/* Main Layout */
body {
  margin: 0;
  padding: 0;
  background: #A7A7A7 url(images/bg2.gif) repeat-x;
  font: normal 11px Verdana;
  color: #2E2E2E;
}

img { border: none; }

marquee {
  padding: 0px;
  margin: 0px;
}

hr {
  height: 1px;
  border: none;
  border-top: 1px dashed #989898;
  border-bottom: none;
  margin: 0;
  margin-top: 2px;
  padding: 3px;
}

/* Links */
a, a:visited, a:active {
  color: #3172B3;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a.white, a.white:visited, a.white:active {
  color: #FFFFFF;
  text-decoration: none;
}

a.white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a.titlelink, a.titlelink:visited, a.titlelink:active {
  color: #4E6C86;
  text-decoration: none;
  font-weight: bold;
}

a.titlelink:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

a.category, a.category:visited, a.category:active {
  color: #333333;
  text-decoration: none;
}

a.category:hover {
  color: #000000;
  text-decoration: underline;
}

/* Font types */

h1 {
  background: #333 url(images/h1.jpg) no-repeat right;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 -10px 10px;
  padding-left: 10px;
  height: 20px;
  width: 95%;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.small {
  color: #666666;
  font: normal 9px Verdana, Arial, Helvetica, sans-serif;
}

.category_big, .category_big a {
  color: #3172B3;
  font-weight: bold;
}

.category {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  font-weight: normal;
}

/* Forms */
form {
  border: none;
  margin: 0;
  padding: 0;
}

input, textarea, select {
  border: 1px solid #CCCCCC;
  background-color: #F6F6F6;
  font: normal 11px Verdana;
  color: #666666;
}

input:active, textarea:active, select:active,
input:focus, textarea:focus, select:focus {
  border: 1px solid #666666;
  background-color: #EAF7FD;
  color: #666666;
}

input[type="radio"], input[type="checkbox"], 
input[type="radio"]:focus, input[type="radio"]:active,
input[type="checkbox"]:focus, input[type="checkbox"]:active {
  border: 0px;
}

.pad { padding: 10px; }

.input {
  background-color: transparent;
  border: none;
  margin: 2px;
}

.title {
  height: 20px;
  margin: 0;
  padding: 0 3px;
  color: #4E6C86;
  background-image: url(images/title.jpg);
  background-repeat: repeat;
}

.td_head {
  height: 26px;
  background-color: #EAF7FD;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.td1 {
  height: 26px;
  background-color: #FCFCFC;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.td2 {
  height: 26px;
  background-color: #F6F6F6;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* Infomessages - Miscellaneous */
.tooltip {
  position: absolute;
  display: none;
  background-color: #FCFCFC;
  color: #000000;
  border: 1px solid #DDDDDD;
  border-left: 4px solid #0E8AEA;
  padding: 4px 10px;
  z-index: 300;
  width: 200px;
}

.errorbox {
  background-color: #FFCCCC;
  border: 1px dashed #D60000;
  color: #666666;
  font-size: 10px;
  width: 350px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

#head {
  background-image: url(images/1.jpg);
  padding-left: 0px;
  height: 102px;
}

#links ul {
  display: inline;
  list-style-type: none;
}

#links ul li {
  float: left;
  margin-left: 91px;
}

#links a {
  display: block;
  height: 92px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

#links ul li:hover a {
  background-position: right top;
}

.menu {
  width: 202px;
}

.menu h2 {
  background: url(images/menu.jpg) no-repeat;
  background-color: inherit;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 21px;
  margin: 0;
  padding-left: 6px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 0;
}	

.menu ul li a {
  background: url(images/sub.gif) no-repeat;
  background-position: 7px 8px !important;
  background-color: inherit;
  color: #333333;
  text-decoration: none;
  display: block;
  padding-left: 16px;
  line-height: 20px;
  height: 20px;
  border-bottom: 1px dashed #FFFFFF;
}

.menu ul li a:hover {
  background-color: #36BEFC;
  color: #FFFFFF;
}

/* BBCode Tags */
.quote {
  color: #383838;
  text-align: left;
  font: normal 9px Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 3px;
}

.list {
	list-style-type: disc;
	list-style-position:outside;
}
.list_num {
	list-style-type: decimal;
	list-style-position:outside;
}

.list_alpha {
	list-style-type: lower-latin;
	list-style-position:outside;
}

.code {
  color: #000000;
  text-align: left;
  margin: 0 auto;
  padding: 3px;
  font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.codeinner {
  color: #000000;
  font: 11px 'Courier New', Courier, monospace;
}

.codeline0 {
	background-color: #F3F3F3;
	height: 15px;
	padding-left: 3px;
	white-space: nowrap;
}

.codeline1 {
	background-color: #FFFFFF;
	height: 15px;
	padding-left: 3px;
	white-space: nowrap;
}