<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="title" colspan="2"><b>%statistic%</b></td>
	</tr>
	<tr>
		<td bgcolor="$bg1" width="43%">%files_cl%:</td>
	  <td bgcolor="$bg1" width="57%">$totalfiles</td>
	</tr>
	<tr>
		<td bgcolor="$bg1">%categories_cl%:</td>
		<td bgcolor="$bg1">$totalcats</td>
	</tr>
	<tr>
		<td bgcolor="$bg1">%database_cl%:</td>
		<td bgcolor="$bg1">$hddspace</td>
	</tr>
	<tr>
		<td bgcolor="$bg1">%traffic_cl%:</td>
		<td bgcolor="$bg1">$traffic</td>
	</tr>
	<tr>
		<td bgcolor="$bg1">%last_uploaded_file%:</td>
		<td bgcolor="$bg1">$lastfile</td>
	</tr>
</table>