<a href="index.php?site=files"><b>%files_cl%</b></a> &raquo; $category
<hr />
<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr>
    <td class="title" bgcolor="$pagebg"><b>%name%</b></td>
    <td class="title" bgcolor="$pagebg"><b>%description%</b></td>
    <td class="title" bgcolor="$pagebg" width="10"><b>%downloads_cl%</b></td>
    <td class="title" bgcolor="$pagebg" width="50"><b>%rating%</b></td>
    <td class="title" bgcolor="$pagebg" width="10"><b>%dl%</b></td>
  </tr>
  