<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr>
    <td class="title"><b>$headline1</b></td>
  </tr>
  <tr bgcolor="$bg1">
    <td><br />$imprint_head</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr>
    <td class="title"><b>$headline2</b></td>
  </tr>
  <tr bgcolor="$bg1">
    <td align="justify"><br />%coding_info%<br /><br />Copyright &copy; <a href="http://www.webspell.org" target="_blank"><b>www.webSPELL.org</b></a><br /><br /></td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr>
    <td class="title"><b>%disclaimer%</b></td>
  </tr>
  <tr bgcolor="$bg1">
    <td align="justify"><br />%disclaimer_text%<br /><br /></td>
  </tr>
</table>
    