<br />
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="60%" valign="top">
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
      <tr>
        <td colspan="2" class="title" bgcolor="$bghead"><b>%personal_info%</b></td>
      </tr>
      <tr>
        <td width="35%" bgcolor="$bg1">%nickname%</td>
        <td width="65%" bgcolor="$bg1"><b>$nickname</b> $member</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%status%:</td>
        <td bgcolor="$bg1">$status</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%usertitle%:</td>
        <td bgcolor="$bg1">$usertype<br />$rang</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%contact%:</td>
        <td bgcolor="$bg1">$email $pm $buddy $icq</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%homepage%:</td>
        <td bgcolor="$bg1">$homepage</td>
      </tr>
      <tr> 
        <td bgcolor="$bg1">%real_name%:</td>
        <td bgcolor="$bg1">$firstname $lastname</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%sexuality%:</td>
        <td bgcolor="$bg1">$sex</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%age%:</td>
        <td bgcolor="$bg1">$birthday</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%postcode%:</td>
        <td bgcolor="$bg1">$postcode</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%location%:</td>
        <td bgcolor="$bg1">$profilecountry $town</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%street%:</td>
        <td bgcolor="$bg1">$street</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%streetnr%:</td>
        <td bgcolor="$bg1">$streetnr</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%tel%:</td>
        <td bgcolor="$bg1">$tel</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%fax%:</td>
        <td bgcolor="$bg1">$fax</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%mobile%:</td>
        <td bgcolor="$bg1">$mobile</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%registered_since%:</td>
        <td bgcolor="$bg1">$registered</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%last_login%:</td>
        <td bgcolor="$bg1">$lastlogin</td>
      </tr>
    </table>
    <br />
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead"><b>%about%</b></td>
      </tr>
      <tr>
        <td bgcolor="$bg1">$about</td>
      </tr>
    </table>
    </td>
    <td width="1%">&nbsp;</td>
    <td width="39%" valign="top">
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead"><b>%userpic%</b></td>
      </tr>
      <tr>
        <td height="215" align="center" bgcolor="$bg1">$userpic</td>
      </tr>
    </table>
    <br />
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
      <tr>
        <td class="title" bgcolor="$bghead"><b>%latest_visitors%</b> <small>&nbsp;&nbsp;&nbsp;($anzvisits)</small></td>
      </tr>
      $lastvisits
    </table>
    <br />
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
      <tr>
        <td colspan="2" class="title" bgcolor="$bghead"><b>%statistics%</b></td>
      </tr>
      <tr>
        <td width="70%" bgcolor="$bg1">%forumtopics%:</td>
        <td width="30%" align="center" bgcolor="$bg1">$anzforumtopics</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%newsposts%:</td>
        <td bgcolor="$bg1" align="center">$anznewsposts</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%newscomments%:</td>
        <td bgcolor="$bg1" align="center">$comments[0]</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%forumposts%:</td>
        <td bgcolor="$bg1" align="center">$anzforumposts</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%articlecomments%:</td>
        <td bgcolor="$bg1" align="center">$comments[1]</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%messenger% (%incoming%):</td>
        <td bgcolor="$bg1" align="center">$pmgot</td>
      </tr>
      <tr>
        <td bgcolor="$bg1">%messenger% (%outgoing%):</td>
        <td bgcolor="$bg1" align="center">$pmsent</td>
      </tr>
    </table>
    </td>
  </tr>
</table>