<form method="get" action="index.php" onsubmit="return formcheck_onsend('quicksearch');">
<input name="action" type="hidden" value="search" /><input name="all" type="hidden" value="true" /><input name="order" type="hidden" value="1" /><input name="r" type="hidden" value="50" /><input name="site" type="hidden" value="search" />
<div style="float:left; padding-right:2px;"><input id="quicksearch" style="width:100px;" name="text" type="text" value="%search_term%..." onfocus="if(this.value == '%search_term%...')this.value=''" /></div>
<input type="submit" value="%submit%" />
</form>