<table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="$border">
  <tr>
    <td bgcolor="$bghead" class="title" colspan="2"><b>$servername</b></td>
  </tr>
  <tr>
    <td bgcolor="$bg1" width="20%">%ip%:</td>
    <td bgcolor="$bg2"><a href="$protocol$ds[ip]">$ds[ip]</a></td>
  </tr>
  <tr>
    <td bgcolor="$bg3">%status%:</td>
    <td bgcolor="$bg4">$status</td>
  </tr>
  <tr>
    <td bgcolor="$bg1">%game%:</td>
    <td bgcolor="$bg2">$servertype</td>
  </tr>
  <tr>
    <td bgcolor="$bg3" valign="top">%information%:</td>
    <td bgcolor="$bg4">$info</td>
  </tr>
</table>
<br /><br />