<table border="0" width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td width="24%" valign="top" bgcolor="$bg1"><a href="index.php?site=profile&amp;id=$dm[userID]"><img src="images/userpics/$userpic" width="100" border="0" alt="Userpic" /></a></td>
    <td width="2%" bgcolor="$bg1">&nbsp;</td>
    <td width="74%" valign="top" bgcolor="$bg1">$country <span class="category">$firstname '$nickname' $lastname</span> $statuspic<br /><br />
	    <table border="0" width="100%" cellspacing="6" cellpadding="0">
	      <tr>
	        <td width="70"><b>%position%:</b></td>
	        <td>$position</td>
	      </tr>
	      <tr>
	        <td width="70"><b>%status%:</b></td>
	        <td>$activity</td>
	      </tr>
	      <tr>
	        <td width="70"><b>%contact%:</b></td>
	        <td>$email $pm $buddy</td>
	      </tr>
	    </table>
    </td>
  </tr>  
  <tr>
    <td valign="top" bgcolor="$bg1" colspan="3" style="text-align: justify;"><b>%about% $nicknamee:</b><br />$userdescription</td>
  </tr>
</table>
<br /><br />