<h1>%profile%</h1>
<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="#FFFFFF">
  <tr style="line-height:30px;">
    <td bgcolor="$bg1" width="14%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id">%profile%</a></td>
    <td bgcolor="$bg1" width="18%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=galleries">%galleries%</a></td>
    <td bgcolor="$bg1" width="18%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=buddys">%buddys%</a></td>
    <td bgcolor="$bg1" width="30%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=lastposts">%last% $profilelast %posts%</a></td>
    <td bgcolor="$bg1" width="20%">&nbsp; <a class="titlelink" href="index.php?site=profile&amp;id=$id&amp;action=guestbook">%guestbook%</a></td>
  </tr>
</table>
$banned