<script language="JavaScript" type="text/javascript">
	function fillcomments(){
		document.getElementById('comments').value=getselection('access');
	}
</script>
<form method="post" action="index.php?site=usergallery" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td>%name%:</td>
    <td><input type="text" name="name" /></td>
  </tr>
  <tr>
    <td>%comment%:</td>
    <td><input type="text" name="comment" size="50" maxlength="255" /></td>
  </tr>
  <tr>
    <td valign="top">%visitor_comments%:</td>
    <td>
      $accesses
			<input type="hidden" value="" name="comments" id="comments" />
    </td>
  </tr>
  <tr>
    <td>%picture%:</td>
    <td><input name="picture" type="file" /></td>
  </tr>
  <tr>
    <td><input type="hidden" name="galleryID" value="$id" /></td>
    <td><input type="submit" name="saveform" value="%add_picture%" /></td>
  </tr>
</table>
</form>